{
  "name": "finley",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/js/global.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/global.min.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/js/Headroom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/Headroom.min.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/js/headroom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/headroom.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/css/slick/slick-theme.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"assets/css/slick/slick-theme.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/scss/slick/slick-theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/slick/slick-theme.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/child-theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/child-theme.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/css/slick",
      "assets/scss",
      "assets/scss/slick",
      "assets/js",
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/scss/style.scss",
      "imports": [
        "assets/scss/partials/_variables.scss",
        "assets/scss/partials/_mixins.scss",
        "assets/scss/bootstrap/bootstrap.scss",
        "assets/scss/partials/_typography.scss",
        "assets/scss/partials/_animations.scss",
        "assets/scss/partials/_helpers.scss",
        "assets/scss/partials/_header.scss",
        "assets/scss/partials/_hero.scss",
        "assets/scss/partials/_menus.scss",
        "assets/scss/partials/_minicart.scss",
        "assets/scss/partials/_page.scss",
        "assets/scss/partials/_blog.scss",
        "assets/scss/partials/_woocommerce.scss",
        "assets/scss/partials/_yith.scss",
        "assets/scss/partials/_svi.scss",
        "assets/scss/partials/_headroom.scss",
        "assets/scss/partials/_product.scss",
        "assets/scss/partials/_shop.scss",
        "assets/scss/partials/_forms.scss",
        "assets/scss/partials/_footer.scss",
        "assets/scss/partials/_elements.scss",
        "assets/scss/partials/_spacing.scss",
        "assets/scss/bootstrap/_functions.scss",
        "assets/scss/bootstrap/_variables.scss",
        "assets/scss/bootstrap/_mixins.scss",
        "assets/scss/bootstrap/_root.scss",
        "assets/scss/bootstrap/_reboot.scss",
        "assets/scss/bootstrap/_type.scss",
        "assets/scss/bootstrap/_images.scss",
        "assets/scss/bootstrap/_code.scss",
        "assets/scss/bootstrap/_grid.scss",
        "assets/scss/bootstrap/_tables.scss",
        "assets/scss/bootstrap/_forms.scss",
        "assets/scss/bootstrap/_buttons.scss",
        "assets/scss/bootstrap/_transitions.scss",
        "assets/scss/bootstrap/_dropdown.scss",
        "assets/scss/bootstrap/_button-group.scss",
        "assets/scss/bootstrap/_input-group.scss",
        "assets/scss/bootstrap/_custom-forms.scss",
        "assets/scss/bootstrap/_nav.scss",
        "assets/scss/bootstrap/_navbar.scss",
        "assets/scss/bootstrap/_card.scss",
        "assets/scss/bootstrap/_breadcrumb.scss",
        "assets/scss/bootstrap/_pagination.scss",
        "assets/scss/bootstrap/_badge.scss",
        "assets/scss/bootstrap/_jumbotron.scss",
        "assets/scss/bootstrap/_alert.scss",
        "assets/scss/bootstrap/_progress.scss",
        "assets/scss/bootstrap/_media.scss",
        "assets/scss/bootstrap/_list-group.scss",
        "assets/scss/bootstrap/_close.scss",
        "assets/scss/bootstrap/_modal.scss",
        "assets/scss/bootstrap/_tooltip.scss",
        "assets/scss/bootstrap/_popover.scss",
        "assets/scss/bootstrap/_carousel.scss",
        "assets/scss/bootstrap/_utilities.scss",
        "assets/scss/bootstrap/_print.scss",
        "assets/scss/fontawesome/fontawesome.scss",
        "assets/scss/fontawesome/fa-solid.scss",
        "assets/scss/fontawesome/fa-brands.scss",
        "assets/scss/bootstrap/mixins/_breakpoints.scss",
        "assets/scss/bootstrap/mixins/_hover.scss",
        "assets/scss/bootstrap/mixins/_image.scss",
        "assets/scss/bootstrap/mixins/_badge.scss",
        "assets/scss/bootstrap/mixins/_resize.scss",
        "assets/scss/bootstrap/mixins/_screen-reader.scss",
        "assets/scss/bootstrap/mixins/_size.scss",
        "assets/scss/bootstrap/mixins/_reset-text.scss",
        "assets/scss/bootstrap/mixins/_text-emphasis.scss",
        "assets/scss/bootstrap/mixins/_text-hide.scss",
        "assets/scss/bootstrap/mixins/_text-truncate.scss",
        "assets/scss/bootstrap/mixins/_visibility.scss",
        "assets/scss/bootstrap/mixins/_alert.scss",
        "assets/scss/bootstrap/mixins/_buttons.scss",
        "assets/scss/bootstrap/mixins/_caret.scss",
        "assets/scss/bootstrap/mixins/_pagination.scss",
        "assets/scss/bootstrap/mixins/_lists.scss",
        "assets/scss/bootstrap/mixins/_list-group.scss",
        "assets/scss/bootstrap/mixins/_nav-divider.scss",
        "assets/scss/bootstrap/mixins/_forms.scss",
        "assets/scss/bootstrap/mixins/_table-row.scss",
        "assets/scss/bootstrap/mixins/_background-variant.scss",
        "assets/scss/bootstrap/mixins/_border-radius.scss",
        "assets/scss/bootstrap/mixins/_box-shadow.scss",
        "assets/scss/bootstrap/mixins/_gradients.scss",
        "assets/scss/bootstrap/mixins/_transition.scss",
        "assets/scss/bootstrap/mixins/_clearfix.scss",
        "assets/scss/bootstrap/mixins/_navbar-align.scss",
        "assets/scss/bootstrap/mixins/_grid-framework.scss",
        "assets/scss/bootstrap/mixins/_grid.scss",
        "assets/scss/bootstrap/mixins/_float.scss",
        "assets/scss/bootstrap/utilities/_align.scss",
        "assets/scss/bootstrap/utilities/_background.scss",
        "assets/scss/bootstrap/utilities/_borders.scss",
        "assets/scss/bootstrap/utilities/_clearfix.scss",
        "assets/scss/bootstrap/utilities/_display.scss",
        "assets/scss/bootstrap/utilities/_embed.scss",
        "assets/scss/bootstrap/utilities/_flex.scss",
        "assets/scss/bootstrap/utilities/_float.scss",
        "assets/scss/bootstrap/utilities/_position.scss",
        "assets/scss/bootstrap/utilities/_screenreaders.scss",
        "assets/scss/bootstrap/utilities/_sizing.scss",
        "assets/scss/bootstrap/utilities/_spacing.scss",
        "assets/scss/bootstrap/utilities/_text.scss",
        "assets/scss/bootstrap/utilities/_visibility.scss",
        "assets/scss/fontawesome/_variables.scss",
        "assets/scss/fontawesome/_mixins.scss",
        "assets/scss/fontawesome/_core.scss",
        "assets/scss/fontawesome/_larger.scss",
        "assets/scss/fontawesome/_fixed-width.scss",
        "assets/scss/fontawesome/_list.scss",
        "assets/scss/fontawesome/_bordered-pulled.scss",
        "assets/scss/fontawesome/_animated.scss",
        "assets/scss/fontawesome/_rotated-flipped.scss",
        "assets/scss/fontawesome/_stacked.scss",
        "assets/scss/fontawesome/_icons.scss",
        "assets/scss/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/scss/bootstrap/_mixins.scss",
      "imports": [
        "assets/scss/bootstrap/mixins/_breakpoints.scss",
        "assets/scss/bootstrap/mixins/_hover.scss",
        "assets/scss/bootstrap/mixins/_image.scss",
        "assets/scss/bootstrap/mixins/_badge.scss",
        "assets/scss/bootstrap/mixins/_resize.scss",
        "assets/scss/bootstrap/mixins/_screen-reader.scss",
        "assets/scss/bootstrap/mixins/_size.scss",
        "assets/scss/bootstrap/mixins/_reset-text.scss",
        "assets/scss/bootstrap/mixins/_text-emphasis.scss",
        "assets/scss/bootstrap/mixins/_text-hide.scss",
        "assets/scss/bootstrap/mixins/_text-truncate.scss",
        "assets/scss/bootstrap/mixins/_visibility.scss",
        "assets/scss/bootstrap/mixins/_alert.scss",
        "assets/scss/bootstrap/mixins/_buttons.scss",
        "assets/scss/bootstrap/mixins/_caret.scss",
        "assets/scss/bootstrap/mixins/_pagination.scss",
        "assets/scss/bootstrap/mixins/_lists.scss",
        "assets/scss/bootstrap/mixins/_list-group.scss",
        "assets/scss/bootstrap/mixins/_nav-divider.scss",
        "assets/scss/bootstrap/mixins/_forms.scss",
        "assets/scss/bootstrap/mixins/_table-row.scss",
        "assets/scss/bootstrap/mixins/_background-variant.scss",
        "assets/scss/bootstrap/mixins/_border-radius.scss",
        "assets/scss/bootstrap/mixins/_box-shadow.scss",
        "assets/scss/bootstrap/mixins/_gradients.scss",
        "assets/scss/bootstrap/mixins/_transition.scss",
        "assets/scss/bootstrap/mixins/_clearfix.scss",
        "assets/scss/bootstrap/mixins/_navbar-align.scss",
        "assets/scss/bootstrap/mixins/_grid-framework.scss",
        "assets/scss/bootstrap/mixins/_grid.scss",
        "assets/scss/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "assets/scss/bootstrap/_utilities.scss",
      "imports": [
        "assets/scss/bootstrap/utilities/_align.scss",
        "assets/scss/bootstrap/utilities/_background.scss",
        "assets/scss/bootstrap/utilities/_borders.scss",
        "assets/scss/bootstrap/utilities/_clearfix.scss",
        "assets/scss/bootstrap/utilities/_display.scss",
        "assets/scss/bootstrap/utilities/_embed.scss",
        "assets/scss/bootstrap/utilities/_flex.scss",
        "assets/scss/bootstrap/utilities/_float.scss",
        "assets/scss/bootstrap/utilities/_position.scss",
        "assets/scss/bootstrap/utilities/_screenreaders.scss",
        "assets/scss/bootstrap/utilities/_sizing.scss",
        "assets/scss/bootstrap/utilities/_spacing.scss",
        "assets/scss/bootstrap/utilities/_text.scss",
        "assets/scss/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/scss/bootstrap/bootstrap-grid.scss",
      "imports": [
        "assets/scss/bootstrap/_functions.scss",
        "assets/scss/bootstrap/_variables.scss",
        "assets/scss/bootstrap/mixins/_breakpoints.scss",
        "assets/scss/bootstrap/mixins/_grid-framework.scss",
        "assets/scss/bootstrap/mixins/_grid.scss",
        "assets/scss/bootstrap/_grid.scss",
        "assets/scss/bootstrap/utilities/_display.scss",
        "assets/scss/bootstrap/utilities/_flex.scss"
      ]
    },
    {
      "path": "assets/scss/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "assets/scss/bootstrap/_functions.scss",
        "assets/scss/bootstrap/_variables.scss",
        "assets/scss/bootstrap/_mixins.scss",
        "assets/scss/bootstrap/_reboot.scss",
        "assets/scss/bootstrap/mixins/_breakpoints.scss",
        "assets/scss/bootstrap/mixins/_hover.scss",
        "assets/scss/bootstrap/mixins/_image.scss",
        "assets/scss/bootstrap/mixins/_badge.scss",
        "assets/scss/bootstrap/mixins/_resize.scss",
        "assets/scss/bootstrap/mixins/_screen-reader.scss",
        "assets/scss/bootstrap/mixins/_size.scss",
        "assets/scss/bootstrap/mixins/_reset-text.scss",
        "assets/scss/bootstrap/mixins/_text-emphasis.scss",
        "assets/scss/bootstrap/mixins/_text-hide.scss",
        "assets/scss/bootstrap/mixins/_text-truncate.scss",
        "assets/scss/bootstrap/mixins/_visibility.scss",
        "assets/scss/bootstrap/mixins/_alert.scss",
        "assets/scss/bootstrap/mixins/_buttons.scss",
        "assets/scss/bootstrap/mixins/_caret.scss",
        "assets/scss/bootstrap/mixins/_pagination.scss",
        "assets/scss/bootstrap/mixins/_lists.scss",
        "assets/scss/bootstrap/mixins/_list-group.scss",
        "assets/scss/bootstrap/mixins/_nav-divider.scss",
        "assets/scss/bootstrap/mixins/_forms.scss",
        "assets/scss/bootstrap/mixins/_table-row.scss",
        "assets/scss/bootstrap/mixins/_background-variant.scss",
        "assets/scss/bootstrap/mixins/_border-radius.scss",
        "assets/scss/bootstrap/mixins/_box-shadow.scss",
        "assets/scss/bootstrap/mixins/_gradients.scss",
        "assets/scss/bootstrap/mixins/_transition.scss",
        "assets/scss/bootstrap/mixins/_clearfix.scss",
        "assets/scss/bootstrap/mixins/_navbar-align.scss",
        "assets/scss/bootstrap/mixins/_grid-framework.scss",
        "assets/scss/bootstrap/mixins/_grid.scss",
        "assets/scss/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "assets/scss/bootstrap/bootstrap.scss",
      "imports": [
        "assets/scss/bootstrap/_functions.scss",
        "assets/scss/bootstrap/_variables.scss",
        "assets/scss/bootstrap/_mixins.scss",
        "assets/scss/bootstrap/_root.scss",
        "assets/scss/bootstrap/_reboot.scss",
        "assets/scss/bootstrap/_type.scss",
        "assets/scss/bootstrap/_images.scss",
        "assets/scss/bootstrap/_code.scss",
        "assets/scss/bootstrap/_grid.scss",
        "assets/scss/bootstrap/_tables.scss",
        "assets/scss/bootstrap/_forms.scss",
        "assets/scss/bootstrap/_buttons.scss",
        "assets/scss/bootstrap/_transitions.scss",
        "assets/scss/bootstrap/_dropdown.scss",
        "assets/scss/bootstrap/_button-group.scss",
        "assets/scss/bootstrap/_input-group.scss",
        "assets/scss/bootstrap/_custom-forms.scss",
        "assets/scss/bootstrap/_nav.scss",
        "assets/scss/bootstrap/_navbar.scss",
        "assets/scss/bootstrap/_card.scss",
        "assets/scss/bootstrap/_breadcrumb.scss",
        "assets/scss/bootstrap/_pagination.scss",
        "assets/scss/bootstrap/_badge.scss",
        "assets/scss/bootstrap/_jumbotron.scss",
        "assets/scss/bootstrap/_alert.scss",
        "assets/scss/bootstrap/_progress.scss",
        "assets/scss/bootstrap/_media.scss",
        "assets/scss/bootstrap/_list-group.scss",
        "assets/scss/bootstrap/_close.scss",
        "assets/scss/bootstrap/_modal.scss",
        "assets/scss/bootstrap/_tooltip.scss",
        "assets/scss/bootstrap/_popover.scss",
        "assets/scss/bootstrap/_carousel.scss",
        "assets/scss/bootstrap/_utilities.scss",
        "assets/scss/bootstrap/_print.scss",
        "assets/scss/bootstrap/mixins/_breakpoints.scss",
        "assets/scss/bootstrap/mixins/_hover.scss",
        "assets/scss/bootstrap/mixins/_image.scss",
        "assets/scss/bootstrap/mixins/_badge.scss",
        "assets/scss/bootstrap/mixins/_resize.scss",
        "assets/scss/bootstrap/mixins/_screen-reader.scss",
        "assets/scss/bootstrap/mixins/_size.scss",
        "assets/scss/bootstrap/mixins/_reset-text.scss",
        "assets/scss/bootstrap/mixins/_text-emphasis.scss",
        "assets/scss/bootstrap/mixins/_text-hide.scss",
        "assets/scss/bootstrap/mixins/_text-truncate.scss",
        "assets/scss/bootstrap/mixins/_visibility.scss",
        "assets/scss/bootstrap/mixins/_alert.scss",
        "assets/scss/bootstrap/mixins/_buttons.scss",
        "assets/scss/bootstrap/mixins/_caret.scss",
        "assets/scss/bootstrap/mixins/_pagination.scss",
        "assets/scss/bootstrap/mixins/_lists.scss",
        "assets/scss/bootstrap/mixins/_list-group.scss",
        "assets/scss/bootstrap/mixins/_nav-divider.scss",
        "assets/scss/bootstrap/mixins/_forms.scss",
        "assets/scss/bootstrap/mixins/_table-row.scss",
        "assets/scss/bootstrap/mixins/_background-variant.scss",
        "assets/scss/bootstrap/mixins/_border-radius.scss",
        "assets/scss/bootstrap/mixins/_box-shadow.scss",
        "assets/scss/bootstrap/mixins/_gradients.scss",
        "assets/scss/bootstrap/mixins/_transition.scss",
        "assets/scss/bootstrap/mixins/_clearfix.scss",
        "assets/scss/bootstrap/mixins/_navbar-align.scss",
        "assets/scss/bootstrap/mixins/_grid-framework.scss",
        "assets/scss/bootstrap/mixins/_grid.scss",
        "assets/scss/bootstrap/mixins/_float.scss",
        "assets/scss/bootstrap/utilities/_align.scss",
        "assets/scss/bootstrap/utilities/_background.scss",
        "assets/scss/bootstrap/utilities/_borders.scss",
        "assets/scss/bootstrap/utilities/_clearfix.scss",
        "assets/scss/bootstrap/utilities/_display.scss",
        "assets/scss/bootstrap/utilities/_embed.scss",
        "assets/scss/bootstrap/utilities/_flex.scss",
        "assets/scss/bootstrap/utilities/_float.scss",
        "assets/scss/bootstrap/utilities/_position.scss",
        "assets/scss/bootstrap/utilities/_screenreaders.scss",
        "assets/scss/bootstrap/utilities/_sizing.scss",
        "assets/scss/bootstrap/utilities/_spacing.scss",
        "assets/scss/bootstrap/utilities/_text.scss",
        "assets/scss/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/scss/fontawesome/fa-brands.scss",
      "imports": [
        "assets/scss/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "assets/scss/fontawesome/fa-regular.scss",
      "imports": [
        "assets/scss/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "assets/scss/fontawesome/fa-solid.scss",
      "imports": [
        "assets/scss/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "assets/scss/fontawesome/fontawesome.scss",
      "imports": [
        "assets/scss/fontawesome/_variables.scss",
        "assets/scss/fontawesome/_mixins.scss",
        "assets/scss/fontawesome/_core.scss",
        "assets/scss/fontawesome/_larger.scss",
        "assets/scss/fontawesome/_fixed-width.scss",
        "assets/scss/fontawesome/_list.scss",
        "assets/scss/fontawesome/_bordered-pulled.scss",
        "assets/scss/fontawesome/_animated.scss",
        "assets/scss/fontawesome/_rotated-flipped.scss",
        "assets/scss/fontawesome/_stacked.scss",
        "assets/scss/fontawesome/_icons.scss",
        "assets/scss/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/scss/partials/_typography.scss",
      "imports": [
        "assets/scss/fontawesome/fontawesome.scss",
        "assets/scss/fontawesome/fa-solid.scss",
        "assets/scss/fontawesome/fa-regular.scss",
        "assets/scss/fontawesome/fa-brands.scss",
        "assets/scss/fontawesome/_variables.scss",
        "assets/scss/fontawesome/_mixins.scss",
        "assets/scss/fontawesome/_core.scss",
        "assets/scss/fontawesome/_larger.scss",
        "assets/scss/fontawesome/_fixed-width.scss",
        "assets/scss/fontawesome/_list.scss",
        "assets/scss/fontawesome/_bordered-pulled.scss",
        "assets/scss/fontawesome/_animated.scss",
        "assets/scss/fontawesome/_rotated-flipped.scss",
        "assets/scss/fontawesome/_stacked.scss",
        "assets/scss/fontawesome/_icons.scss",
        "assets/scss/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "sass/theme/_child_theme.scss",
      "imports": [
        "sass/theme/partials/_offcanvas.scss"
      ]
    },
    {
      "path": "sass/child-theme.scss",
      "imports": [
        "sass/theme/_child_theme_variables.scss",
        "sass/assets/bootstrap4.scss",
        "src/sass/understrap/understrap/understrap.scss",
        "src/sass/understrap/theme/_contact-form7.scss",
        "sass/assets/font-awesome.scss",
        "sass/assets/underscores.scss",
        "sass/theme/_buttons.scss",
        "sass/theme/_child_theme.scss",
        "sass/theme/_understrap-overrides.scss",
        "sass/theme/_typography.scss",
        "sass/theme/_material-icons.scss",
        "sass/theme/_hover-css.scss",
        "sass/theme/_z-index.scss",
        "sass/theme/_navbar.scss",
        "sass/theme/_nav.scss",
        "sass/theme/_offcanvas.scss",
        "sass/theme/_woocommerce.scss",
        "sass/theme/_woocommerce-tables.scss",
        "sass/theme/_mini-cart.scss",
        "sass/theme/_yith.scss",
        "sass/theme/_woof.scss",
        "sass/theme/_svi.scss",
        "sass/theme/_select2.scss",
        "sass/theme/_slick.scss",
        "sass/theme/_elementor.scss",
        "sass/theme/_footer.scss",
        "src/sass/bootstrap4/_functions.scss",
        "src/sass/bootstrap4/_variables.scss",
        "src/sass/bootstrap4/_mixins.scss",
        "src/sass/bootstrap4/_root.scss",
        "src/sass/bootstrap4/_reboot.scss",
        "src/sass/bootstrap4/_type.scss",
        "src/sass/bootstrap4/_images.scss",
        "src/sass/bootstrap4/_code.scss",
        "src/sass/bootstrap4/_grid.scss",
        "src/sass/bootstrap4/_tables.scss",
        "src/sass/bootstrap4/_forms.scss",
        "src/sass/bootstrap4/_buttons.scss",
        "src/sass/bootstrap4/_transitions.scss",
        "src/sass/bootstrap4/_dropdown.scss",
        "src/sass/bootstrap4/_button-group.scss",
        "src/sass/bootstrap4/_input-group.scss",
        "src/sass/bootstrap4/_custom-forms.scss",
        "src/sass/bootstrap4/_nav.scss",
        "src/sass/bootstrap4/_navbar.scss",
        "src/sass/bootstrap4/_card.scss",
        "src/sass/bootstrap4/_breadcrumb.scss",
        "src/sass/bootstrap4/_pagination.scss",
        "src/sass/bootstrap4/_badge.scss",
        "src/sass/bootstrap4/_jumbotron.scss",
        "src/sass/bootstrap4/_alert.scss",
        "src/sass/bootstrap4/_progress.scss",
        "src/sass/bootstrap4/_media.scss",
        "src/sass/bootstrap4/_list-group.scss",
        "src/sass/bootstrap4/_close.scss",
        "src/sass/bootstrap4/_modal.scss",
        "src/sass/bootstrap4/_tooltip.scss",
        "src/sass/bootstrap4/_popover.scss",
        "src/sass/bootstrap4/_carousel.scss",
        "src/sass/bootstrap4/_utilities.scss",
        "src/sass/bootstrap4/_print.scss",
        "src/sass/fontawesome/_variables.scss",
        "src/sass/fontawesome/_mixins.scss",
        "src/sass/fontawesome/_path.scss",
        "src/sass/fontawesome/_core.scss",
        "src/sass/fontawesome/_larger.scss",
        "src/sass/fontawesome/_fixed-width.scss",
        "src/sass/fontawesome/_list.scss",
        "src/sass/fontawesome/_bordered-pulled.scss",
        "src/sass/fontawesome/_animated.scss",
        "src/sass/fontawesome/_rotated-flipped.scss",
        "src/sass/fontawesome/_stacked.scss",
        "src/sass/fontawesome/_icons.scss",
        "src/sass/underscores/_galleries.scss",
        "src/sass/bootstrap4/mixins/_breakpoints.scss",
        "src/sass/bootstrap4/mixins/_hover.scss",
        "src/sass/bootstrap4/mixins/_image.scss",
        "src/sass/bootstrap4/mixins/_badge.scss",
        "src/sass/bootstrap4/mixins/_resize.scss",
        "src/sass/bootstrap4/mixins/_screen-reader.scss",
        "src/sass/bootstrap4/mixins/_size.scss",
        "src/sass/bootstrap4/mixins/_reset-text.scss",
        "src/sass/bootstrap4/mixins/_text-emphasis.scss",
        "src/sass/bootstrap4/mixins/_text-hide.scss",
        "src/sass/bootstrap4/mixins/_text-truncate.scss",
        "src/sass/bootstrap4/mixins/_visibility.scss",
        "src/sass/bootstrap4/mixins/_alert.scss",
        "src/sass/bootstrap4/mixins/_buttons.scss",
        "src/sass/bootstrap4/mixins/_caret.scss",
        "src/sass/bootstrap4/mixins/_pagination.scss",
        "src/sass/bootstrap4/mixins/_lists.scss",
        "src/sass/bootstrap4/mixins/_list-group.scss",
        "src/sass/bootstrap4/mixins/_nav-divider.scss",
        "src/sass/bootstrap4/mixins/_forms.scss",
        "src/sass/bootstrap4/mixins/_table-row.scss",
        "src/sass/bootstrap4/mixins/_background-variant.scss",
        "src/sass/bootstrap4/mixins/_border-radius.scss",
        "src/sass/bootstrap4/mixins/_box-shadow.scss",
        "src/sass/bootstrap4/mixins/_gradients.scss",
        "src/sass/bootstrap4/mixins/_transition.scss",
        "src/sass/bootstrap4/mixins/_clearfix.scss",
        "src/sass/bootstrap4/mixins/_grid-framework.scss",
        "src/sass/bootstrap4/mixins/_grid.scss",
        "src/sass/bootstrap4/mixins/_float.scss",
        "src/sass/bootstrap4/utilities/_align.scss",
        "src/sass/bootstrap4/utilities/_background.scss",
        "src/sass/bootstrap4/utilities/_borders.scss",
        "src/sass/bootstrap4/utilities/_clearfix.scss",
        "src/sass/bootstrap4/utilities/_display.scss",
        "src/sass/bootstrap4/utilities/_embed.scss",
        "src/sass/bootstrap4/utilities/_flex.scss",
        "src/sass/bootstrap4/utilities/_float.scss",
        "src/sass/bootstrap4/utilities/_position.scss",
        "src/sass/bootstrap4/utilities/_screenreaders.scss",
        "src/sass/bootstrap4/utilities/_shadows.scss",
        "src/sass/bootstrap4/utilities/_sizing.scss",
        "src/sass/bootstrap4/utilities/_spacing.scss",
        "src/sass/bootstrap4/utilities/_text.scss",
        "src/sass/bootstrap4/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": true,
      "keepAlive": true,
      "host": "",
      "port": 22,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "67.225.241.76",
      "port": 22,
      "usePrivateKey": false,
      "username": "s1",
      "password": "dOmxipADJpUWqyyBaLjXD7X",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/.gitignore"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "> 1%, last 2 versions, Firefox ESR, Opera 12.1"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}