#wrapper-footer-full {

	background: $black;
	color: $white;
	padding: 2em 0;

	.widget-title {

		font-family: $font-family-sans-serif-bold;
		font-size: var(--font-up-1);

	}

}

#wrapper-footer {

	background: $black;
	color: $white;
	font-size: var(--font-down-1);

	a { color: $white; }

}