// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes


// Navbar
//
//

#wrapper-navbar { background: $white; }

.fj-navbar-wrapper {

  &--left,
  &--right {

    flex: 0 0 20%;

  }

  &--left { justify-content: flex-start; }
  &--right { justify-content: flex-end; }

}

.fj-navbar {
  font-size: 16px;
  padding: 0.5em 1em;

  @include media-breakpoint-up(md) {
    padding: 0 1em;
  }
}


// Navbar brand
//
//

.navbar-brand {
  text-align: center;
  flex: 0 0 40%;
  margin-left: auto;
  margin-right: auto;

  img {
    max-height: 35px; 

    @include media-breakpoint-up(md) { 
      max-height: 45px; 
    }
  }
}

// Navbar items
//
//

.fj-nav-item {
  padding: 1em 0;
}

// Mobile Nav
//
//

.fj-mobile-nav {
  
  background: $white;

  &__user { 
    height: $mobile-user-bar-height;
    background: $black; 
  }

  &__level-one {
    background: inherit;
    z-index: z-index(mobile-level-one);
  }

  &__level-two {
    position: fixed;
    top: $mobile-user-bar-height;
    left: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: calc(100% - #{$mobile-user-bar-height});
    background: inherit;
    transform: translateX(0);
    transition: all 0.5s;
    z-index: z-index(mobile-level-two);

    &.hide { 
      visibility: hidden;
      transform: translateX(320px);
    }
  }

  &__back {

    padding: 1em;
    border-bottom: 1px solid $gray-300;
  
    span { font-size: var(--font-up-1); line-height: 1; }

  }

  ul {
    
    padding: 0.5em 1em;
    border-bottom: 1px solid $gray-300;

    &:last-child {
  
      border-bottom: none;

    }

    li {

      i.material-icons {
        position: relative;
        float: right;
        top: -0.05em;
      }

    }

  }

}

// Mega Menu
//
// 

.fj-has-megamenu {
  
  @include media-breakpoint-up(md) {
    &:hover {
      .fj-megamenu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

}

.fj-megamenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid $gray-300;
  background: $white;
  z-index: 100;
  transition: 0.35s;

  a {
    
    &:hover { text-decoration: none; }

  }

  &--left { left: 0; }
  &--right { right: 0; }

  .col {
    text-align: center;
    padding: 1em;
    min-width: 235px;
    min-height: 235px;

    &:only-child {
      width: 350px;
    }
  }

  &__col {

    &--heading {
    
      display: block;
      margin-bottom: 0.5em;
      font-size: 1rem;
      font-family: $font-family-sans-serif-bold;

    }

    ul {

      list-style: none;
      padding: 0;

      li { margin-bottom: 0.5em; }

    }

  }
}

// Cart button
//
//

.fj-cart-toggle {

  button { 
    font-size: 16px; 

    span { 
      position: relative;
      top: 1px;
      line-height: 1;
    }
  }

}