.fj-nav {

	&--product-meta {

		.nav-link {
			padding: 0;
			margin: 1em;
			color: $black;
			overflow: hidden;
			position: relative;

			&:before{
				content: "";
				position: absolute;
				z-index: -1;
				left: 51%;
				right: 51%;
				bottom: 0;
				background: $pink;
				height: 2px;
				transition-property: left, right;
				transition-duration: 0.3s;
			}

			&.active:before { 
				left: 0;
				right: 0;
			}

		}

	}

}