.fj-offcanvas-wrapper {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 100%;
	background: $white;
	overflow-y: scroll;
	transform: translateX(0);
	transition: 0.5s;
	z-index: z-index(offcanvas);

	&--right {
		right: 0;

		&.hide {
			transform: translateX(320px);
		}
	}

	&--left {
		left: 0;

		&.hide {
			transform: translateX(-320px);
		}
	}

	&--wc-sidebar, &--mini-cart { padding: 2em; }

	&--mobile-top-nav { 
		padding: 0; 
		overflow: hidden;
	}
}

.fj-offcanvas-toggle{

	&--wc-sidebar-x {
	  position: absolute;
	  right: 1rem;
	  top: 1rem;
	  background: none;
	  border: none;
	  font-size: 1.5rem;
	  cursor: pointer;
	}

}

.fj-offcanvas-overlay {

		display: block;
		position: fixed;
		top: 0;
		left: 0;
		visibility: hidden;
		background-color: transparent;
		width: 100%;
		height: 100%;
		
		z-index: 50;
		transition: 0.5s;

	&--visible { visibility: visible; background-color: rgba(0,0,0,0.4); }

}

.noscroll { overflow: hidden; }