// Select2
//
// Custom Select2 Styles

.select2-dropdown {
	border: 1px solid $gray-600;
}

.select2-container {

	.select2-selection {

		border-radius: 0;

	}

}

.select2-container--default {
	.select2-selection--single {
	  background-color: transparent;
	  border: 0;
	  border-bottom: 2px solid #aaa;
	  border-radius: 0;
	  height: 2em;

	  .select2-selection__rendered {
	    color: #444;
	    line-height: 2em;
	  }

	  .select2-selection__arrow {
	  	top: 0;
	  	right: 3px;
	  	height: 2em;
	  }
	}
}

//
// WooCommerce sort dropdown
// Take styles from btn so height matches filter button
//

.woocommerce-ordering {
	.select2-container {
		.select2-selection--single {
			height: auto;
			padding: 0.375em;

			.select2-selection__rendered {
				line-height: 1.5;
			}

			.select2-selection__arrow {
				height: calc(2.375em - 1px);
				width: 2em;
			}
		}
	}
}

//
// Variable product variations form
//

.variations {
	.select2-container--default { 
		font-size: var(--font-down-1); 

		&.select2-container--open {
			&.select2-container--below, &.select2-container--above {
				.select2-selection--single, .select2-selection-multiple {
					border-radius: 2em;
				}
			}

			.select2-dropdown {
				margin-top: 0.25em;
			}

			.select2-dropdown--below, .select2-dropdown--above {
				border: 1px solid $gray-600;
				border-radius: 1rem;
			}
		}

		.select2-selection--single {
			border: 1px solid $gray-600;
			border-radius: 2em;
		}
	}
}

ul.select2-results__options[id*="pa"] {
	font-size: var(--font-down-1);
}

//
// Currency Switcher (Footer)
//

#wrapper-footer-full {
	.currency_switch_form {
		background: white;
	}
}