// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes

.woocommerce {

  .woocommerce-Price-amount {
    
    font-family: $font-family-sans-serif-bold;
    font-size: var(--font-base);
    color: $black;

  }

  /**
  * Product Loop
  */

  ul.products {

    li.product {

      text-align: center;

      .woocommerce-loop-product__title {
        
        font-size: var(--font-down-1);
        margin-top: 0.5em;

        @include media-breakpoint-up(md) { font-size: 1rem; }
    
      }

      .fj-woocommerce-loop-product__custom-attribute {

        font-size: var(--font-down-2);
        margin-bottom: 0.5em;

        @include media-breakpoint-up(md) { font-size: var(--font-down-2); }

      }

      .in_loop {

        .variations.pa_ring-size { display: none; }

      }

      p.stock { display: none; }

      a {

        img {

          background-color: $pink-light;
          margin-bottom: 0;

        }

      }

      .add-to-cart-container { display: none; }

    }

  }

  /**
  * Single Product
  */

  .single-product-summary {

    background: $pink-light;
    text-align: center;

    &--mobile { 
      display: block; 
      padding: 3rem 0 1.5rem;
    }

    .product_title {

      font-size: var(--font-up-3);

    }

    .variations_form {}

    .summary {

      .product_title,
      .fj-woocommerce-loop-product__custom-attribute,
      .price,
      .woocommerce-Price-amount,
      .woocommerce-product-details__short-description,
      { 
        display: none; 

        @include media-breakpoint-up(sm) {

          display: block;

        }
      }

    }

  }

}