//
// YITH Product Bundles
//

.woocommerce {
	.product {
		.fj-summary-wrapper {
			.summary {
				.yith-wcpb-bundle-form {
					.price {
						display: inline;
						.woocommerce-Price-amount {
							font-family: $font-family-sans-serif;
						}
					}
				}
				.yith-wcpb-product-bundled-item-data__variations_form {
					margin-top: 0.5em;
					
					@include media-breakpoint-up(md) {
						max-width: 80%;
						margin-left: auto;
						margin-right: auto;
					}

					@include media-breakpoint-up(lg) {
						max-width: 80%;
					}
				}
			}
		}
	}
}

tr.yith-wcpb-child-of-bundle-table-item {
	height: auto;
	border-left: 2px solid $pink;
	td.product-name {
		a {
			padding-left: 0;
		}
	}
}

.yith-wcpb-product-bundled-item-data__title {
	font-size: 1rem;
}

//
// YITH Wishlist
//

.yith-wcwl-add-to-wishlist {

	.yith-wcwl-add-button {

	}

}

//
// YITH Waitlist
//

#yith-wcwtl-output {

	.button { float: none; }

}

//
// YITH Color Swatches;
//

.slick-slider {

	.variations_form { opacity: 1!important; }

}

.ywccl_stock {
	flex: 0 0 100%;
}

li.product {
	.variations_form{
		&.cart { 
			div.variations {
				margin-bottom: 0;
			}
		}
	}
}


// .product {

// 	.variations_form {

// 		&.cart {
			
// 			padding-top: 0.5rem;
// 			padding-bottom: 0.5rem;
// 			margin: 0!important;

// 		}

// 		.variations {

// 			&.pa_color { 

// 				.select2 { display: none; }

// 			}

// 			.select_box_image {

// 				display: flex;
// 				justify-content: center;

// 				.select_option_image {
					
// 					border: none;
// 					margin: 0 0.3rem;

// 					&.selected {
						
// 						.yith_wccl_value { border: 1px solid $gray-700; }

// 					}

// 					.yith_wccl_value {

// 						height: 25px;
// 						border-width: 1px;
// 						border-radius: 50%;

// 					}

// 				}

// 			}

// 		}

// 	}

// }

// .fj-summary-wrapper {

// 	.variations_form {

// 		.select_box_image {

// 			display: none!important;

// 		}

// 	}

// }